{% extends "layout.html" %}
{% block ngdeclare %}ng-controller="GenerateCtrl"{% endblock %}
{% block navbar %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <div class="navbar-form navbar-left form-group-sm">
            <select class="form-control" ng-model="layout">
                <option value="left">Left</option>
                <option value="right">Right</option>
            </select>
            <button type="submit" class="btn btn-default btn-sm" ng-click="preview()">Generate</button>
        </div>
    </li>
</ul>
{% endblock %}
{% block content %}
<div ng-cloak>
    <div class="row hidden-print">
        {% raw %}
        <div class="col-md-12">
            <div class="well">
                <div class="form-inline" ng-repeat="field in context_data">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="key"
                               ng-model="field.key">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="value"
                               ng-model="field.value">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="field.to"> to
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="value"
                               ng-model="field.toValue" ng-show="field.to">
                    </div>
                    <button type="button" class="btn btn-danger">remove</button>
                </div>
                <button type="button" class="btn btn-success" ng-click="add_context_field()">add</button>
            </div>
            <!-- <img src="/barcode?data={{ data | escape }}"> -->
            <pre>{{ get_context() }}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row" ng-repeat="context in generated_context track by $index">
                <div class="col-xs-6" ng-class="{'col-xs-offset-6': layout == 'right'}">
                    <img src="/barcode?data={{ context.efosString | escape }}"/>
                    <pre>{{ context.efosString }}</pre>
                    <dl class="dl-horizontal" ng-repeat="field in context.data">
                        <dt>{{ field.key }}</dt>
                        <dd>{{ field.value }}</dd>
                    </dl>

                </div>
            </div>
        </div>
        {% endraw %}
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    myApp.controller('GenerateCtrl', ['$scope', function ($scope) {
        function calculate_values(from, to) {
            from_to = [];
            for (var i = parseInt(from); i <= parseInt(to); i++) {
                from_to.push(i)
            }
            return from_to
        }

        function getValues(field) {
            if (field.to) {
                return calculate_values(field.value, field.toValue)
            } else {
                return [field.value]
            }
        }

        function combine_rows(rows, key, values) {
            var new_rows = [];
            for (var i = 0; i < rows.length; i++) {
                for (var j = 0; j < values.length; j++) {
                    var row = {'efosString': '', data: []};
                    var new_row = [];
                    new_row = rows[i].data.concat();
                    // new_row.push({'efosString': 'efos1#c#eid=600144', data: {key: key, value: values[j]}});
                    new_row.push({key: key, value: values[j]});
                    //row.data.push(new_row)
                    row.data = new_row;
                    new_rows.push(row);
                }

            }
            return new_rows;
        }

        $scope.layout = 'left';
        $scope.EFOS_SIG = 'efos1#c#';
        $scope.generated_context = [];
        $scope.context_data = [];
        $scope.add_context_field = function () {
            $scope.context_data.push({key: '', value: '', to: false, toValue: 0})
        };
        $scope.get_context = function () {
            return $scope.context_data
        };
        $scope.preview = function () {
            fields = [];
            $scope.generated_context = [];

            var rows = [{efosString: '', data: []}];

            for (var field_i = 0; field_i < $scope.context_data.length; field_i++) {
                console.log($scope.context_data[field_i]);
                var key = $scope.context_data[field_i].key;
                var values = getValues($scope.context_data[field_i]);

                console.log("Values for: " + key);
                console.log(values);

                rows = combine_rows(rows, key, values)
            }

            //add_row([], 0, fields, $scope.generated_context);

            for(var i = 0; i < rows.length; i++) {
                rows[i].efosString = $scope.generate_efos(rows[i].data);
            }

            $scope.generated_context = rows;
            console.log(rows)
        };
        $scope.generate_efos = function (data) {
            var str = '';
            for(var i = 0; i < data.length; i++){
                if(str !== '') {
                    str = str + '&'
                }
                str = str + data[i].key + '=' + data[i].value;
            }
            return $scope.EFOS_SIG + str;
        }

    }]);

</script>
{% endblock %}
